
@media screen and (min-width: 480px) {
    .btn-tictactoe{
      width:150px;
      height:150px;
    }
    .btn-tictactoe span.glyphicon{
      font-size:50px;
      margin-top:40px
    }
    .tictactoe-table{
      max-width:450px;
    }
}
@media screen and (max-width: 480px) {
    .btn-tictactoe{
      width:100px;
      height:100px;
    }
    .btn-tictactoe span.glyphicon{
      font-size:50px;
      margin-top:20px
    }
    .tictactoe-table{
      max-width:300px;
    }
}

.page-footer
{
    position: relative;
    text-align: center;
    color: #767676;
    border-top: 1px solid #e5e5e5;
    width: 100%;
}
footer
{
  margin-top:20px;
}
