.btn-tictactoe{
  width:150px;
  height:150px;
}
.page-footer
{
    position: relative;
    text-align: center;
    color: #767676;
    border-top: 1px solid #e5e5e5;
    width: 100%;
}
footer
{
  margin-top:20px;
}
